# Binary files
minikube-linux-amd64

# Machine Learning Data & Models
data/**
!data/**/
!data/*.dvc
!data/.gitignore
# Machine Learning Data & Models
/models/**
!/models/**/
!/models/*.dvc
!/models/.gitignore
mlruns/
person_name_500/
data_train_70.6/
outputs/
*.wav
*.mp3

# Python & IDE
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.ruff_cache/
.pytest_cache/
.vscode/

# DVC local (giữ lại các file .dvc, ignore cache)
.dvc/cache/
.dvc/tmp/
/outputs
